@font-face{
    font-family: 'flood';
    src:url('../fonts/floodstd.otf');
    line-height: 18px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
.container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.navigation{
    width: 100%;
    height: 70%;
}
.logo{
    padding-top: 2.2vh;
    text-align: left;
    padding-left: 6vw;
    font: Bold 1.2vw/2vw Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
    width: 9vw;
}
.navigation-links{
    text-align: right;
    padding: 0;
    width: 76vw;
    color: #354463;
}
.navigation-links li{
    font-size: 1.2vw;
    display: inline-block;
    padding: 1.2% 2vw;
    border-radius: 2vw;
}
.navigation-links li.active{
    background-color: #C1F7D5;
}
.navigation-links li:hover{
    background-color: #C1F7D5;
    color: #fff;
    cursor: pointer;
}


.image-container{
    position: relative;
    margin-bottom: -3vh;
}
.image-container>img{
    width: 100%;
    filter: contrast(140%);
}
.right-text>p{
    color: #fff;
    width: 0vw;
    font-size: 4.5vw;
    font-family: 'flood';
    position: absolute;
    top: 12%;
    left: 59vw;
    }
.text-block{
    position: absolute;
    top: 13%;
    left: 6vw;
    width: 33vw;
    height: 48%;
    background-color: white;
    color: #354463;
}
.text-block > p{
    padding-left: 9%;
    padding-right: 9%;
    text-align: left;
    font: Bold 2.5vw/120% Helvetica;
    letter-spacing: 0vh;
    color: #354463;
    opacity: 1;
}
.inner-text{
    padding-left: 3vw;
}
.inner-text>a{
    font-size: 1.2vw;
    color: #354463;
    font-weight: 300;
}
.small-text{
    position: absolute;
    top: 8%;
    left: 9vw;
    width: 7vw;
    height: 7%;
    background-color: #354463;
    opacity: 1;
}
.small-text > p{
    font-size: 1vw;
    text-align: center;
    color: white;
}
.some-page-wrapper {
    position: relative;
    background: #C1F7D5 0% 0% no-repeat padding-box;
   }
   
   .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   }
   
   .column {
    display: flex;
    flex-direction: column;
    flex: 19%;
    padding: 2vw;
   }
   .block-text>h2{
    font-size: 1.8vw;
    color: #354463;
   }
   .block-text>p{
    text-align: left;
    font: Lighter 1.2vw/3vh Helvetica;
    color: #354463;
    opacity: 1;
    }
    .small-text-2{
        position: absolute;
        top: -1.1vh;
        left: 43vw;
        width: 9vw;
        height: 3vw;
        background-color: #354463;
        opacity: 1;
    }
    .small-text-2 > p{
        font-size: 1vw;
        text-align: center;
        color: white;
    }
    @media screen and (max-width: 992px) {
        .column {
          flex: 30%;
        }
        .image-container>img{
            width: 100%;
            height: 67vh;
            filter: contrast(140%);
        }
        .logo{
            font-size: 2.5vw;
            line-height: 3vh;
            width: 18vw;
        }
        .text-block{
            top: 34vh;
            height: 27vh;
            width: 59vw;
            left: 20vw;
        }
        .navigation-links li{
            font-size: 2vw;
        }
        .navigation-links{
            width: 72vw;
        }
        .text-block>p{
            padding-left: 14%;
            font-size: 3vw;
        }
        .inner-text>a{
            font-size: 2vh;
            padding-left: 6vh;
        }
        .small-text{
            top: 45%;
            height: 8%;
            width: 12vh;
            left: 33vh;
        }
        .small-text>p{
            font-size: 1.4vw;
        }
        .right-text>p{
            top: 3%;
            left: 19vw;
        }
        .small-text-2{
            width: 11vw;
            height: 5vh;
            top: -2vh;
        }
        .block-text>h2{
            font-size: 3vw;
        }
        .block-text>p{
            font-size: 2.2vw;
        }
        .small-text-2>p{
            font-size: 1.4vw;
        }
      }
      @media screen and (max-width: 600px) {
        .navigation-links{
            width: 69vw;
        }
        .logo{
            font-size: 3.5vw;
            line-height: 3vh;
            width: 25vw;
        }
        .navigation-links li.active{
            padding: 0px 34%;
        }
        .column {
            flex: 40%;
        }
        .image-container>img{
            width: 100%;
            height: 52vh;
            filter: contrast(140%);
        }
        .text-block{
            top: 21vh;
            width: 57vw;
            height: 20vh;
        }
        .text-block>p{
            font-size: 4vw;
            padding-left: 9%;
        }
        .small-text{
            top: 37%;
            width: 12vw;
            left: 25vw;
            height: 6%;
        }
        .small-text>p{
            font-size: 2vw;
        }
        .inner-text>a{
            font-size: 2vw;
            padding-left: 1vh;
        }
        .small-text-2{
            width: 11vw;
            top: -1vh;
            height: 3vh;
        }
        .row{
            padding-left: 4%;
            width: 90%;
        }
        .block-text>h2{
            font-size: 4vw;
        }
        .block-text>p{
            font-size: 4.2vw;
        }
        .navigation-links li{
            display: grid;
            font-size: 3vw;
        }
        
      }  
